#!/bin/sh
PSQL="env psql"
PSQL_FILE="./../psql.sql"
DBHOST="DBHOST"
DBUSER="DBUSER"
DBNAME="DBNAME"
DBPASSWORD="DBPASSWORD"
export PGPASSWORD=${DBPASSWORD}
${PSQL} -h ${DBHOST} -d ${DBNAME} -U ${DBUSER} < ${PSQL_FILE}
unset PGPASSWORD
